<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h2>{{ message }}</h2>
        <p>Товар в корзине {{ countProduct }}</p>
        <div v-for="product in cart" :key="product.id" class="cartBox">
            <p>name: {{ product.name }}</p>
            <button @click="addProduct(product)">{{ product.buttonText }}</button>
        </div>
        <br>
        <button @click="isTrue=true">Мне уже есть 14 лет</button>
        <button @click="isTrue=false">Мне еще нет 14 лет</button>
        <h3 v-if="isTrue">Добро пожаловать</h3>
        <p v-else>Доступ закрыт</p>
        <br>
        <button @click="showContent = !showContent">Показать еще</button>
        <div v-if="showContent">Что-то еще</div>
        <br>
        <br>
        <button @click="getRandomNumber">Сгенерировать число</button>
        <p>{{ randomNumber }}</p>
        <p>{{ getNumber }}</p>
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        const { createApp } = Vue;

        createApp({
            data() {
                return {
                    message: 'Hello Vue 3',
                    countProduct: 0,
                    cart: [
                        {id:1, name: 'Product1', inCart: false, buttonText: 'Buy'}, 
                        {id:2, name: 'Product2', inCart:false, buttonText: 'Buy'}, 
                        {id:3, name: 'Product3', inCart:false, buttonText: 'Buy'},
                        {id:4, name: 'Product4', inCart:false, buttonText: 'Buy'},
                    ],
                    isTrue: false,
                    showContent: false,
                    randomNumber: 0,
                };
            },
            methods: {
                addProduct(product) {
                    if (!product.inCart) {
                        product.inCart = true;
                        this.countProduct ++;
                        product.buttonText = 'Товар в корзине';
                    }   
                },
                getRandomNumber(){
                    this.randomNumber = Math.floor(Math.random() * 10 + 1);
                }
            },
            computed: {
                getNumber() {
                    if (this.randomNumber < 5) {
                        return 'Число меньше 5';
                    } else if (this.randomNumber === 10) {
                        return 'число равно 10';
                    } else {
                        return 'Число больше или равно 5 и меньше или равно 9';
                    }
                }
            }
        }).mount('#app');
    </script>
</body>
</html>